{% extends 'todo/base.html' %}
{% block content %}
    <div class="container">
        <h2>O projekcie</h2>
        <h5>Strona została napisana w frameworku Django, ma pomgać w nauce języka angielskiego.</h5>
        <h7>Kolory zadań odnoszą się do 3 poziomów:</h7>
        <br>
        <h8>Zielony - Łatwy</h8>
        <br>
        <h8>Zółty - Średni</h8>
        <br>
        <h8>Czerwony - Trudny</h8>
        <h5>Page was written in framework Django for help in learn English language. </h5>
        <h7>Quest colors show 3 levels: </h7>
        <br>
        <h8>Green - Low</h8>
        <br>
        <h8>Yellow - Middle</h8>
        <br>
        <h8>Red - HARD</h8>
    </div>
{% endblock %}