   {% extends 'todo/base.html' %}
{% block content %}
    <div class="container" style="width: 600px">
        <div class="well well-sm text-center" style="background-color: #0B2849; color: aliceblue; margin: 15px 5px 0 5px;">
         About
        </div>
        <h1> Log 1</h1>
        <h5>Strona została napisana w frameworku Django, ma pomgać w nauce języka angielskiego</h5>
        <h7>Kolory zadań odnoszą się do 3 poziomów:</h7>
        <br>
        <h8>Zielony - Łatwy</h8>
        <br>
        <h8>Zółty - Średni</h8>
        <br>
        <h8>Czerwony - Trudny</h8>
        <h5>Page was written in framework Django for help in learn English language. </h5>
        <h7>Quest colors show 3 levels: </h7>
        <br>
        <h8>Green - Low</h8>
        <br>
        <h8>Yellow - Middle</h8>
        <br>
        <h8>Red - HARD</h8>
        <h1>Log 2</h1>
        <h4>Strona ma służyć do zapisywania codziennych oraz długo okresowych zadań, poziomy zadań możemy oznaczyć wyżej wymionionymi kolorami
        Można dodawać wpisy odnoście obecnego stanu zadania.
        </h4>

            <a class="btn btn-lg btn-primary btn-block" style="background-color: #0B2849; color: aliceblue; margin: 10px 5px 20px 5px;" href="{% url 'todo:index' %}">Back to quests list</a>
{% endblock %}