{% extends 'todo/base.html' %}
{% block content %}
    <div class="container">
        <h3>WHO: {{ quest.who }} {{ quest.who_id }}</h3>
        <h3>Quest: {{ quest.quest_name }} </h3>
        <h5>When: {{ quest.pub_date }}</h5>
        <h4>Text: {{ quest.quest_text }}</h4>
        <h5>Level: {{ quest.levels }}</h5>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <div class="add_log">
            <a class="btn btn-warning" href="choice_form">Add Log</a>
            <a class="btn btn-info" href="index.html">DONE</a>
        </div>

        {% for choice in quest.choice_set.all %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ choice.id }}">
                            Log: {{ forloop.counter }}</a>
                        </h4>
                    </div>
                    <div id="collapse{{ choice.id }}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ choice.choice_text }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <a class="btn btn-primary" href="{% url 'todo:index'%}">List of Quests</a>
        <a id="delete_quest" class="btn btn-danger" href="quest_confirm_delete">Delete this Quest</a>

    </div>

{% endblock %}




