body {
    background-color: #071422;
}

.container-fluid {
    flex:1;

}
.container {
    color: #083A32;
}

#equal {
    width: 200px;

}

.well-sm {
    padding: 12px;
    border-radius: 35px;
}

.add_log {
    margin-left: 40%;
}

#delete_quest {
    display: inline-block;
    float: right;
}

